@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

// custom
$white: #fff;
$primary-color: #272727;
$light-gray: hsl(0, 0%, 93%);
$grayish-violet-2: hsla(258, 7%, 63%, 0.501);
$grayish-violet-3: hsla(258, 5%, 46%, 0.501);
$grayish-violet-4: hsl(258, 5%, 38%);
$grayish-violet-5: hsl(258, 8%, 56%);
$cyan-hover: hsl(180, 63%, 42%);
$alert: rgb(247, 41, 41);
// primary colors
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
// secondary color
$red: hsl(0, 87%, 67%);
$alert-border: .2rem solid $red;
// neutral colors
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
// typography
$font-family: 'Poppins',
  sans-serif;
$font-weight-1: 500;
$font-weight-2: 700;
$font-size: 1.125rem;
$font-size-2: 1.56rem;

@mixin media-s {
  @media screen and (min-width: 550px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin media-2xl {
  @media screen and (min-width: 1536px) {
    @content;
  }
}

@mixin transition-ease {
  transition: all .3s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  }

  @else {
    @return #fff;
  }
}