@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

// custom
$white: #fff;
$primary-color: #272727;
$light-gray: hsl(0, 0%, 93%);
$grayish-violet-2: hsla(258, 7%, 63%, 0.501);
$grayish-violet-3: hsla(258, 5%, 46%, 0.501);
$grayish-violet-4: hsl(258, 5%, 38%);
$grayish-violet-5: hsl(258, 8%, 56%);
$cyan-hover: hsl(180, 63%, 42%);
$alert: rgb(247, 41, 41);
$alert-border: .2rem solid $alert;
// primary colors
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
// secondary color
$red: hsl(0, 87%, 67%);
// neutral colors
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
// typography
$font-family: 'Poppins',
  sans-serif;
$font-weight-1: 500;
$font-weight-2: 700;
$font-size: 1.125rem;
$font-size-2: 1.56rem;


@mixin media-sm {
  @media screen and (min-width: 500px) {
    @content;
  }
}

@mixin media-md-sm {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin media-md-m {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@mixin media-md-2 {
  @media screen and (min-width: 750px) {
    @content;
  }
}

@mixin media-md-3 {
  @media screen and (min-width: 800px) {
    @content;
  }
}

@mixin media-between {
  @media (min-width: 751px) and (max-width: 1419px) {
    @content;
  }
}

@mixin media-between-lg {
  @media (min-width: 700px) and (max-width: 1140px) {
    @content;
  }
}

@mixin media-between-2 {
  @media (min-width: 483px) and (max-width: 500px) {
    @content;
  }
}

@mixin media-btn {
  @media (min-width: 513px) and (max-width: 699px) {
    @content;
  }
}

@mixin media-between-3 {
  @media (min-width: 603px) and (max-width: 701px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-lg-2 {
  @media screen and (min-width: 1082px) {
    @content;
  }
}

@mixin media-lg-lg {
  @media screen and (min-width: 1122px) {
    @content;
  }
}

@mixin media-lg-lg-2 {
  @media screen and (min-width: 1420px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

@mixin transition-ease {
  transition: all .6s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  }

  @else {
    @return #fff;
  }
}