@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

// primary colors
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
// secondary color
$red: hsl(0, 87%, 67%);
// neutral colors
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
// typography
$font-family: 'Poppins',
  sans-serif;
$font-weight-1: 500;
$font-weight-2: 700;
$font-size: 18px;